@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Kickr Sample</h2>
        <p>My base address is @Model.BaseAddress</p>
    </div>
</div>
